!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    %meta{name: 'viewport',    content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no'}
    %meta{name: 'apple-mobile-web-app-capable',          content: 'yes'}
    %meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black'}
    
    %title Rails Engines Example

    = stylesheet_link_tag 'marketing/application', media: "all"
    
  %body
    .navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', "data-toggle"=>"collapse", "data-target"=> ".navbar-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} Rails Engines Example
                    
              
    .container
      = yield
      
      %footer
    
    = javascript_include_tag 'marketing/application'
        
